<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!--bootstrap3 css 和js-->
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="/js/bootstrap3/js/bootstrap.js"></script>
    <!-- 表格组件 -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!--bootbox组件-->
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!--日期组件-->
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<div  id="toolbar">
    <form class="form-inline" >
        价格:
        <div class="input-group">
						 <span class="input-group-addon">
							<i class="glyphicon glyphicon-yen"></i>
						 </span>
            <input type="text" class="form-control" id="startprice" placeholder="请输入价格">
            <span class="input-group-addon">
						 	<i class="glyphicon glyphicon-transfer"></i>
						 </span>
            <input type="text" class="form-control" id="endprice" placeholder="请输入价格">
            <span class="input-group-addon">
						 	<i class="glyphicon glyphicon-yen"></i>
						 </span>
            <br/>
        </div>
<br/>
        <div class="input-group">
            宠物名字:
            <input type="text" class="form-control" id="name" placeholder="请输入名字">
        </div>
        </br>
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" onclick="searchUser()">搜索</button>

    </form>




        <button onclick="addDialog()" type="button" class="btn btn-primary glyphicon glyphicon-plus">新增</button>
    <button onclick="delAllHuoti()" type="button" class="btn btn-warning glyphicon glyphicon-remove">删除</button>
</div>


<div class="table" id="myTable"></div>
</body>

<script type="text/javascript"  th:inline="none">

/*    function sousuo() {

        $('#myTable').bootstrapTable('refresh');
    }*/

function searchUser() {
    $('#myTable').bootstrapTable("refresh");
}

    //初始化方法
    $(function(){
        search();
    })
    //查询
    function search(){
        $('#myTable').bootstrapTable({
            url:'/selectHuotiPage',  //获取数据地址
            toolbar:'#toolbar',
            pagination:true, //是否展示分页
            pageList:[1,5,10,20],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数
            sidePagination:"server",
            queryParams:function(){

                return{
                        page: this.pageNumber,
                        rows: this.pageSize,
                    startprice:$("#startprice").val(),
                    endprice:$("#endprice").val(),
                    name:$("#name").val(),
                };
            },
            columns:[
                {field:"全选",checkbox:true},
                {field:'id',title:'宠物id'},
                {field:'name',title:'宠物名字'},
                {field:'price',title:'价格'},
                {field:'baoyou',title:'是否包邮'},
                {field: 'provinceName', title: '所属地区', formatter:function (value, row, index){
                        return  value+"-"+row.cityName;
                    }},
                {field:'xiaoliang',title:'销量'},
                {field:'kucun',title:'库存'},
                {field:'tool',title:'操作',align:'center',width:'50px',
                    formatter: function(value,row,index){
                        var str = '<a href="javascript:updShuizu('+row.id+');">修改</a>';
                        return str;
                    }
                }
            ]
        });
    }


    //新增
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function addDialog(){
        var url='toAddlist';
        var dialog=bootbox.dialog({
            title:'新增活体',
            message:createAddContent(url),
            size:'large',
            buttons:{
                cancle:{
                    label:"关闭",
                    className:'btn-danger',
                    callback:function(){
                        console.log('Custom cancle clicked');
                    }
                },
                ok:{
                    label:"保存",
                    className:'btn-info',
                    callback:function(){

                        $.ajax({
                            url:'/saveHuoti',
                            type:'post',
                            data:$("#huotiForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                alert();
                                if (data) {
                                    $("#myTable").bootstrapTable("refresh");//刷新表格
                                }else{
                                    bootbox.alert({
                                        size:'small',
                                        title:'提示',
                                        message:'新增失败',
                                    })
                                }
                            }
                        })
                    }
                }
            }
        })
    }


    //修改    先打开弹框
    function updShuizu(id){
        //打开修改弹框
        openEditDialog();
        //初始化表单数据
        //initTypeSelect();
        //查询回显数据
        $.ajax({
            url:'/findHuotiByid',
            type:'post',
            data:{id:id},
            dataType:'json',
            success:function(data){
                $("#id").val(data.id);
                $("#nameId").val(data.name);
                $("#priceId").val(data.price);
                $("#falseId").val(data.baoyou);
                data.baoyou == 1 ? $('#falseId').prop('checked',true) : $('#trueId').prop('checked',true)
                $("#cityId").val(data.city);
                $("#provinceId").val(data.province);
                $("#xiaoliangId").val(data.xiaoliang);
                $("#kucunId").val(data.kucun);
            }
        })
    }

    function openEditDialog(){
        var url='toEditPage';
        bootbox.dialog({
            title:'修改活体',
            message:createAddContent(url),
            size:'large',
            buttons:{
                cancle:{
                    label:"关闭",
                    className:'btn-danger',
                    callback:function(){
                        console.log('Custom cancle clicked');
                    }
                },
                ok:{
                    label:"保存",
                    className:'btn-info',
                    callback:function(){
                        $.ajax({
                            url:'/saveHuoti',
                            type:'post',
                            data:$("#huotiForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if (data) {
                                    $("#myTable").bootstrapTable("refresh");//刷新表格
                                }else{
                                    bootbox.alert({
                                        size:'small',
                                        title:'提示',
                                        message:'修改失败',
                                    })
                                }
                            }
                        })
                    }
                }
            }
        })
    }


    //单删加批量删除
    function   delAllHuoti(){
        var ids = $('#myTable').bootstrapTable('getSelections'); //获取表选择的行
        if(ids.length==0){
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "请选择要删除的选项",
                buttons:{
                    ok:{
                        label: '确定',
                        className: 'btn-success'
                    }
                },
                callback:function(){}
            })

        }else{


            var huotiIds =[];
            for ( var i  in ids) {
                huotiIds.push(ids[i].id);
            }
            alert(huotiIds);
            console.log(huotiIds);

            bootbox.confirm({
                size: "small",
                title: "提示",
                message: "您确定删除这"+huotiIds.length+"条信息吗",
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    var   ss= huotiIds.toString();
                   message: "类型是："+typeof(ss)+"，字符串是："+ss;
                    if(result){
                        $.ajax({
                            url:"/huotiFeign/delAllHuoti",
                            type:"DELETE",
                            data:{ss:ss},
                            success:function(){
                                alert('删除成功')
                                $("#myTable").bootstrapTable("refresh");//刷新表格
                            },error:function(){
                                alert("代码错误");
                            }

                        });

                    }

                }
            });
        }
    }






</script>
</html>