<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/javascript/jsFiles.js"></script>
    <script src="/cat-js.js"></script>
</head>
<body>
<div id="toolbar" class="panel panel-default">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="button" onclick="addS()" class="btn btn-info">新增商品</button>
            <button type="button" onclick="delMany()" class="btn btn-danger">批量删除</button>
        </div>
        <div class="col-md-1">
            <div class="form-group" style="text-align: right">
                <label for="catName" style="margin-top: 8px;font-size: 16px;"><span>商品名称:</span></label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <input type="text" class="form-control" name="catName" id="catName">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <button type="button" onclick="refreshTable()" class="btn btn-info btn-block">搜&nbsp;&nbsp;&nbsp;&nbsp;索</button>
            </div>
        </div>
    </div>

</div>
<table class="table" id="myTable"></table>
</body>
</html>