<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="myForm">
    <div class="form-group">
        <label for="nameId"></label><br>
        <input  type="hidden"  id="id"  name="dogId">
        商品名称：<input type="text" class="form-control" id="nameId" placeholder="商品名称" name="dogName"><br/>
        销量：<input type="text" class="form-control" id="xiaoliangId"  placeholder="销量" name="xiaoliang"><br/>
        库存：<input type="text" class="form-control" id="kucunId"  placeholder="库存" name="kucun"><br/>
        味道：<input type="text" class="form-control" id="weidaoId"  placeholder="味道" name="weidao"><br/>
        价格：<input type="text" class="form-control" id="priceId"  placeholder="价格" name="dogPrice"><br/>
        地区：<input type="text" class="form-control" id="areaId"  placeholder="地区" name="areaName"><br/>
        保质期：<input type="text" class="form-control" id="baozhiqiId"  placeholder="保质期" name="baozhiqi"><br/>
        型号：<input type="text" class="form-control" id="xinghaoId"  placeholder="型号" name="xinghao"><br/>
        是否包邮：<select class="form-control" id="baoyouId" name="baoyou">
                        <option value="-1">请选择</option>
                        <option value="1">包邮</option>
                        <option value="2">不包邮</option>
                  </select><br/>

        店铺<select class="form-control" id="dianpuId" name="dianpuId">

            </select><br/>

        产品参数：<select class="form-control" id="chanpinId" name="chanpinId">

                  </select><br/>
    </div>
</form>
</body>
</html>