<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap-table/bootstrap-table.css}">
    <script th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootbox/bootbox.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
</head>
<body>
    <div id="toolbar">
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="dogName">商品名称:</label>
                <input type="text" id="dogName" class="form-control">
            </div>
    <div class="text-center">
        <button onclick="searchBtn()" type="button" class="btn btn-info">
            <i class="glyphicon glyphicon-search"></i>
            搜索
        </button>
        <button onclick="addBtn()" type="button" class="btn btn-info">
            新增
        </button>
        <button onclick="delAll()" type="button" class="btn btn-danger">
            批量删除
        </button>
    </div>
    </form>
</div>
    </div>
    <div id="dogTable"></div>
</body>
<script>

    $(function () {
        initDogList();
    })

    function searchBtn(){
        $("#dogTable").bootstrapTable("refresh");
    }
    function initDogList(){
        $("#dogTable").bootstrapTable({
            url:'/queryDogList',
            toolbar:'#toolbar',
            method:"get",
            striped : true, //是否显示行间隔色
            pagination:true,
            pageList:[1,5,10,20],
            pageNumber:1,
            pageSize:5,
            showRefresh : true,//刷新按钮
            queryParams : function() {//上传服务器的参数
                var dogName = $("#dogName").val();
                return {
                    page: this.pageNumber, // 每页显示数量
                    rows: this.pageSize,// SQL语句起始索引
                    dogName: dogName
                }
            },
            sidePagination:'server',
            columns:[
                {checkbox:true},
                {field:"dogId",title:"商品编号"},
                {field:"dogName",title:"商品名称"},
                {field:"baoyou",title:"是否包邮",formatter:function(value,index,rows){
                        return value==1?"不包邮":"包邮";
                    }},
                {field:"xiaoliang",title:"销量"},
                {field:"kucun",title:"库存"},
                {field:"weidao",title:"味道"},
                {field:"dianpuId",title:"店铺"},
                {field:"dogPrice",title:"价格"},
                {field:"areaName",title:"地区"},
                {field:"chanpinId",title:"产品参数"},
                {field:"baozhiqi",title:"保质期"},
                {field:"xinghao",title:"型号"},
                {field:"111",title:"操作",formatter:function(value,row,index){
                        return "<a href='javascript:delDog("+row.dogId+")'>删除</a> | <a href='javascript:editDog("+row.dogId+")'>修改</a>";
                    }}
            ]
        })
    }

    //批量删除
        function delAll(){
        var dog=$("#dogTable").bootstrapTable("getSelections");
        var ids="";
        for (var i = 0; i < dog.length; i++) {
            ids+=ids==""?dog[i].dogId:","+dog[i].dogId
        }
        if(dog.length<=0){
            $.messager.alert("提示","请选择数据","warning")
            return;
        }
        delDog(ids);
    }

    function delDog(id) {
        $.ajax({
            url:'/delDogById',
            type:'post',
            data:{
                ids:id
            },
            dataType:'json',
            success:function(data){
                $.messager.alert("提示","删除成功","warning")
                $('#dogTable').bootstrapTable('refresh');
            }
        })
    }


    function addBtn() {
        bootbox.dialog({
            title:'添加商品',
            message: createAddContent("/todogadd"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/saveDog',
                            type:'post',
                            data:$("#myForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                $('#dogTable').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }

    //修改
    function editDog(id) {
        bootbox.dialog({
            title:'修改商品',
            message: createAddContent("/todogadd"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/saveDog',
                            type:'post',
                            data:$("#myForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                $('#dogTable').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {
                    }
                }
            }

        });
        $.ajax({
            url:"/findDogById",
            type:'get',
            data:{
                id:id
            },
            dataType:'JSON',
            success:function (data) {
                $("#id").val(data.dogId);
                $("#nameId").val(data.dogName);
                $("#priceId").val(data.dogPrice);
                $("#kucunId").val(data.kucun);
                $("#xiaoliangId").val(data.xiaoliang);
                $("#xinghaoId").val(data.xinghao);
                $("#dianpuId").val(data.dianpuId);
                $("#chanpinId").val(data.chanpinId);
                $("#baozhiqiId").val(data.baozhiqi);
                $("#baoyouId").val(data.baoyou);
                $("#weidaoId").val(data.weidao);
                $("#areaId").val(data.areaName);
            }

        })
    }

</script>
</html>